body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 1rem;
}

h1 {
  font-size: 20px;
  margin-bottom: 0;
}

.text-button-wrap {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: nowrap;
  max-width: 700px;
}

.video-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 100%;
  height: auto;
}

.underline-link {
  text-decoration: underline;
  color: #0000EE;
}
