.underline-link {
  text-decoration: underline;
  color: #0000EE; 
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 1rem;
}

h1 {
  font-size: 2rem; /* Kleinere Schriftgröße für die Überschrift */
}
